body{
    background-color: #64a4d4;
} 

/* Taille navbar */
.navbar{
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 150%;
        
}
/* Couleur texte navbar  */
#menu a{
    color:#143c6c;
}
#menu a:hover{
    color: #64a4d4;
}
/* Taille logo  */
.logo{
    height: 6%;
    width: 6%;
    margin-right: 2%;
}

.input_form{
    width : 25%;
    margin-bottom: 1%;
}
#rapport_medecin, #rapport_visiteur{
    width: 25%;
    margin-bottom: 1%;
}
label{
    font-size: 20px;
    color: #143c6c;
}
#title_rapport{
    color: #143c6c;
    font-weight: bold;
}
.card{
    margin-bottom: 3%;
}